.story-card {
    width: 100%;
    max-width: 700px;
    margin-bottom: 30px;
}

.story-card .author {
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.story-card .author .avatar img {
    width: 24px;
    height: 24px;
}

.story-card .author p.display-name {
    font-size: 16px;
    max-height: 20px;
    line-height: 20px;
    color: var(--color-text-primary);
    margin: 0;
}

.story-card .author .role {
    font-size: 12px;
    max-height: 16px;
    line-height: 16px;
    padding: 3px 8px;
}

.story-card .story-body {
    justify-content: space-between;
}

.story-card .story-text .story-title,
.story-card .story-text .story-blurb {
    color: var(--color-text-primary);
}

.story-card .story-text .story-title h2 {
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 8px;
}

.story-card .story-text .story-blurb p {
    font-size: 16px;
    font-family: var(--font-family-serif-secondary);
    margin: 0;
    color: var(--color-text-primary);
}

.story-card .info {
    grid-area: info;
    align-items: center;
    padding: 8px 0;
}

.story-card .info .date {
    font-size: 16px;
    line-height: 20px;
}

.story-card .thumbnail {
    grid-area: thumbnail;
    width: 110px;
    height: 110px;
    margin-left: 60px;
}

.story-card .thumbnail img {
    object-fit: cover;
    width: 110px;
    height: 110px;
}
