#stories-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-nav {
    width: 80px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.925);
    border-right: 1px solid #c4c4c4;
    flex-shrink: 1;
    min-height: 100vh;
    position: sticky;
    top: 0;
}

#story-column {
    max-width: 1030px;
    align-items: center;
}

#other-features {
    width: 400px;
}
