#stories-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#user-nav {
    width: 80px;
}

#story-column {
    max-width: 1030px;
    align-items: center;
}

#other-features {
    width: 400px;
}
