* {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
}

.centered {
    margin: 0 auto;
}

.bordered {
    border: 1px solid #aaa;
}

.rounded-corners {
    border-radius: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
