.profile-button {
    background-color: unset;
    border: none;
}

.icons {
    width: 32px;
    height: 32px;
}

.icons img.avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}
