#large_banner {
    border-bottom: 1px solid black;
}

#large_banner .with_bkgd {
    background-image: url("../../../../public/images/large_banner_bg.png");
    background-size: 380px 350px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

#top_left_logo .logo {
    height: 25px;
}

#intro {
    width: 550px;
    height: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-top: 33px;
    padding-bottom: 30px;
}

h2#main_title {
    font-size: 70px;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(8, 8, 8, 1);
    letter-spacing: -0.05em;
    line-height: 74px;
    font-weight: 400;
}

h3#sub_title {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
    margin-bottom: 25px;
}

#intro .flex-row {
    justify-content: flex-start;
}

button#start_writing {
    display: inline-block;
    padding: 9px 20px 9px;
    background-color: white;
    color: black;
    border: black 1px solid;
    border-radius: 99em;
    font-size: 16px;
    line-height: 24px;
    width: fit-content;
}

button#start_writing:hover {
    background-color: black;
    color: white;
}
