.about {
    align-items: center;
}

.github-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.project-name {
    align-items: center;
    gap: 5px;
}

.project-name-text {
    display: inline-block;
}

.linkedin-icon {
    width: 30px;
    height: 30px;
}

.linkedin-icon a {
    width: 30px;
    height: 30px
}

.tech-used {
    align-items: center;
    gap: 10px;
}

.featured-tech-icons {
    object-fit: contain;
    width: 40px;
    height: 30px;
}

.featured-tech-svg {
    width: 30px;
    height: 30px;
}
