#page-container {
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#writer-top-nav {
    justify-content: space-between;
    margin-top: 30px;
}

#writer-top-left {
    align-items: center;
    gap: 10px;
}

#writer-top-left span {
    font-family: var(--font-family-sans-serif-tertiary);
    color: var(--color-text-primary);
}

#writer-top-right {
    align-items: center;
    gap: 10px;
}

#writer-top-right button.publish {
    font-size: 14px;
    line-height: 16px;
    border-radius: 99em;
    padding: 7px 16px 9px;
}

/* #writer-top-right button.publish:disabled {
    background-color: #ccc;
    color: #555;
} */

.new-story-form-element * {
    font-family: var(--font-family-serif-secondary);
}

.new-story-form-element input,
.new-story-form-element input:active,
.new-story-form-element textarea,
.new-story-form-element textarea:active {
    width: 100%;
    border: none;
}

.new-story-form-element input:focus,
.new-story-form-element textarea:focus {
    outline: none;
}

.new-story-form-element input#title {
    font-size: 42px;
    line-height: 60px;
}

.new-story-form-element textarea#content,
.new-story-form-element input#imageUrl,
.new-story-form-element input#videoUrl {
    font-size: 21px;
}

.new-story-form-element input.hidden {
    display: none;
}

.new-story-form-element .error-text {
    font-size: 12px;
}

.new-story-form-element .render-image {
    justify-content: center;
}

.new-story-form-element .render-image img {
    object-fit: scale-down;
    width: 700px;
    height: 350px;
    /* border: 3px solid rgb(7, 46, 78); */
    cursor: pointer;
}
