.single-story {
    min-height: 100vh;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.single-story-main-area {
    margin: 40px auto;
    max-width: 1080px;
    min-width: 800px;
    width: fit-content;
    flex: 1 1 auto;
}

.single-story-main-area .story-header {
    align-items: center;
    justify-content: space-between;
}

.single-story-main-area .story-info {
    gap: 10px;
    margin: 0 50px;
}

.single-story-main-area .story-info .icons {
    height: 48px;
    width: 48px;
}

.single-story-main-area .story-info .icons img.avatar {
    width: 100%;
    height: 100%;
}

.single-story-main-area .story-info .story-info-text {
    justify-content: space-around;
    width: max-content;
}

.single-story-main-area .story-info .author-info {
    gap: 8px;
    align-items: center;
}

.single-story-main-area .story-info .author-info p.display-name {
    margin: 0;
    letter-spacing: 0.03em;
}

.single-story-main-area .story-info .role {
    font-size: 12px;
    max-height: 16px;
    line-height: 16px;
    padding: 3px 8px;
    width: max-content;
}

.single-story-main-area .story-info .date {
    color: #757575;
}

.single-story-main-area .story-owner-action {
    gap: 10px;
}

.single-story-main-area button {
    font-size: 14px;
    line-height: 16px;
    border-radius: 99em;
    padding: 7px 16px 9px;
    border: none;
}

.single-story-main-area button.edit {
    background-color: #1a8917;
    color: white;
}

.single-story-main-area button.edit:hover {
    background-color: #239c1e;
    color: white;
}

.single-story-main-area button.delete {
    background-color: rgb(100, 20, 20);
    color: white;
}

.single-story-main-area button.delete:hover {
    background-color: rgb(128, 33, 33);
    color: white;
}

.single-story-main-area .story-main {
    margin: 20px auto;
    padding: 0px 50px;
}

.single-story-main-area .story-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
}

.single-story-main-area .story-main .story-image img {
    object-fit: scale-down;
    width: 700px;
    height: 350px;
}

.single-story-main-area .story-title h2 {
    margin: 10px 0;
}

.single-story-main-area p.story-content {
    font-size: 20px;
    line-height: 32px;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
}

.single-story-main-area .story-options {
    padding: 0px 50px;
}

.single-story-main-area .story-options .actions-comments {
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
