* {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.centered {
    margin: 0 auto;
}

.bordered {
    border: 1px solid #aaa;
}

.rounded-corners {
    border-radius: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.role {
    border-radius: 99em;
}

.role-1 {
    background-color: rgb(18, 43, 95);
    color: white;
}

.role-2 {
    background-color: rgb(94, 58, 27);
    color: white;
}

.role-3 {
    background-color: rgb(38, 23, 94);
    color: white;
}

.role-4 {
    background-color: rgb(13, 82, 94);
    color: white;
}

.role-5 {
    background-color: rgb(94, 86, 8);
    color: white;
}
