#top_nav {
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

#top_nav_flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#top_left_logo {
    justify-self: flex-start;
    align-self: center;
}

#top_left_logo img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

#top_left_logo .logo-text {
    font-family: var(--font-family-serif-secondary);
    font-size: 48px;
    line-height: 54px;
    color: black;
}

#top_right_nav {
    justify-self: flex-end;
    align-self: center;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}

.nav_btn {
    display: inline-block;
    color: var(--color-text-primary);
}

.nav_btn:hover {
    cursor: pointer;
}

button#get_started {
    display: inline-block;
    padding: 9px 16px 9px;
    background-color: var(--color-bg-button);
    color: white;
    border: var(--color-bg-button) 1px solid;
    border-radius: 99em;
}
